html {
  min-height: 100%;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.latestresult_body {
  font-size: 18px;
}

h1 {
  font-size: 25px;
}
h5,
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2em;
}

h2,
h1 {
  font-weight: bold;
}

.site-title {
  font-size: 35px;
}

.sub-title {
  font-size: 25px;
}

.site-logo {
  text-align: left;
}

.navbar {
  background-color: #0F3063;
  margin-top: -20px;
}

nav {
  background-color: #0F3063;
}


.header-wrapper, 
.site-footer {
  background-color: #E20000;
}

.section {
  padding-top: 3rem;
}

.bold {
  font-weight:bold;
}

.live-img {
  height: 25px;
  width: 90px;
}

.cardpanel1 {
  background-color: #FC4A1A;
}

.cardpanel2,
.followfacebook,
.view-more {
  background-color: #004380;
}

.view-more {
  margin-right: 5%;
}

.cardpanel3 {
  background-color: #EB006D;
}

.cardpanel4 {
  background-color: #C100FF;
}

.cardpanel5 {
  background-color: #0063AA;
}

.cardpanel6 {
  background-color: #AD0019;
}

.cardpanel7 {
  background-color: #4F49FF;
}

.cardpanel8 {
  background-color: #517646; 
}

.followfacebook {
  margin-bottom: 2%;
}

.card-title {
  background-color: #E20000;
  padding: 10px 0;
  font-size: 30px;
}

.card-wrapper {
  border: 1px solid  #E20000;
  padding-bottom: 18%;
}

.card-wrapper ul {
  text-align: left !important;
  padding-left: 10%;
  
}

.card-wrapper li {
  list-style-type: square !important;
}

.detail_list {
  list-style-type: square !important;
  font-size: 16px;
  text-align: left;
  line-height: 1.6 !important;
  padding-right: 5%;
} 

 .important_dates_list {
  list-style-type: square !important;
}

.card-wrapper li:nth-child(-n+3):before {
  content: url('./assets/img/newicon.gif');
}


.card-wrapper li a {
  color: #1d02f1;
  font-weight: bold;
  text-decoration: underline;
}

/* latest result details  */

.article_summary {
  font-weight: bold;
  vertical-align: top;
  text-align: left;
  font-size: 18px;
  width: 18%;
}

.tabletitle,
.article_summary {
  color: #ff0033;
}


.article_summery_title {
  display: block;
  font-size: 25px;
  color: #0F3063;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  
}

.article_summery_date,
.payment_option {
  font-size: 16px;
}

.article_summary_information {
  font-size: 18px;
  text-align: left;
}

.article_summary_information {
  line-height: 1.6 !important;
}

.tablesubTitle {
  color:  green;
  font-size: 1.2em;
}


.important_dates_list {
  font-size: 16px;
  text-align: left;
  line-height: 1.6 !important;
  padding-right: 5%;
}

.latestresult_body {
  border: 1px solid #000;
}

.heading-group,
.section-group,
.howtodownload_title,
.howtodownload-row,
.important_links__title-row,
.important_links_list-row {
  border-bottom: 1px solid #000;
}

.section-group {
  padding: 0 20px;
}

.howtodownload_title {
  padding-bottom: 5%;
}

.howtodownload-row {
  padding-bottom: 3%;
  margin-bottom: 0;
}

.download-result-wrapper {
  width: 50%;
  margin: 0 auto 0 33%;
}

.download-result__list {
  text-align: left; 
}

.enrolled_candidates {
  border-bottom: 1px solid #000;
  margin-top: -18px;
}

.enrolled_candidates p {
  padding-top: 11px;
  color: #FF8C00;
}

.light-blue-color {
  color: #0000FF;
}

.important_links {
  background: #f9e2b6;
  border-top: 1px solid #000;
}

.important_links__title {
  color: #008000;
}

.important_links_list-row {
  padding-bottom: 10px;
}

.important_links_list-left-col {
  border-right: 1px solid #000;
  color: #8B4513;
  font-weight: bold;
}

.important_links_list-right-col a {
  font-weight: bold;
  color: #551a8a;
  text-decoration: underline;
  cursor: pointer;
}

.innerpage_contact-copyright {
  font-size: 0.8rem;
  color: #551a8a;
}

.copyright-text {
  color: #FF8C00;
  font-size: 0.6em;
}






/* media queries */

@media only screen and (max-width: 500px) {
  .download-result-wrapper {
    width: 100%;
    margin: 0;
    
  }
}













